In [8]:
#importing libraries and creating a data frame of the dataset
import pandas as pd
import numpy as np

In [9]:
#Read Google Play Store CSV
df=pd.read_csv('googleplaystore.csv')

In [10]:
#printing top rows
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [11]:
df.info()

#Renaming the column name for removing spaces
df.rename(columns={'Content Rating':'Content_Rating', 'Last Updated':'Last_Updated', 'Current Ver':'Current_Ver','Android Ver':'Android_Ver'}, inplace=True)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 592.9+ KB

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [12]:
df.Category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [13]:
df[df.Category=='1.9']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [14]:
#Finding index of category 1.9 and dropping that row
df.drop(10472,axis=0,inplace=True)
df[df.Category=='1.9']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

In [15]:
#Dropping null rating by creating a list of those indices which have null values
drop_nullrating_index=df[df.Rating.isnull()].index
drop_nullrating_index=list(drop_nullrating_index)
df.drop(drop_nullrating_index,inplace=True)
df[df.Rating.isnull()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

In [16]:
#Performing data cleaning of Size column by removing all the M's and k's and coverting kb wala data to Mb 
#Finding indices of data with kb data
size_kb = np.array(df.Size.str.find('k'))
size_kb_index = np.where(size_kb>0)
size_kb_index

(array([  57,  199,  372,  438,  446,  716,  723,  966, 1448, 1450, 1458,
        1463, 1465, 1473, 2161, 2180, 2183, 2189, 2194, 2195, 2386, 2387,
        3199, 3205, 3209, 3252, 3267, 3277, 3376, 3396, 3870, 3924, 3954,
        3967, 3998, 4019, 4033, 4089, 4159, 4193, 4247, 4263, 4265, 4267,
        4354, 4359, 4375, 4386, 4468, 4537, 4564, 4671, 4694, 4714, 4750,
        4753, 4767, 4770, 4774, 4775, 4780, 4809, 4829, 4840, 4849, 4890,
        4896, 4900, 4949, 4966, 4968, 5031, 5054, 5142, 5144, 5152, 5172,
        5186, 5240, 5255, 5264, 5388, 5438, 5533, 5534, 5552, 5575, 5612,
        5619, 5648, 5719, 5823, 5863, 5885, 5893, 5908, 5998, 6000, 6002,
        6004, 6006, 6008, 6009, 6011, 6012, 6014, 6015, 6016, 6017, 6018,
        6020, 6022, 6024, 6025, 6026, 6028, 6029, 6030, 6065, 6079, 6081,
        6082, 6153, 6170, 6171, 6175, 6176, 6179, 6194, 6199, 6205, 6208,
        6217, 6226, 6229, 6230, 6231, 6282, 6294, 6302, 6305, 6310, 6314,
        6327, 6332, 6343, 6424, 6431, 6443, 6512, 6516, 6520, 6647, 6673,
        6687, 6721, 6728, 6747, 6750, 6756, 6759, 6764, 6846, 6865, 6888,
        6964, 6982, 7017, 7133, 7134, 7139, 7152, 7155, 7160, 7192, 7255,
        7287, 7292, 7383, 7425, 7577, 7580, 7583, 7588, 7594, 7597, 7603,
        7644, 7730, 7814, 7818, 7854, 7880, 7882, 7891, 7911, 7925, 7964,
        7967, 8033, 8038, 8110, 8116, 8124, 8134, 8201, 8274, 8302, 8418,
        8504, 8508, 8571, 8576, 8579, 8583, 8588, 8592, 8594, 8606, 8643,
        8656, 8682, 8774, 8779, 8780, 8783, 8784, 8785, 8788, 8798, 8803,
        8851, 8858, 8862, 8864, 8872, 8883, 8979, 9090, 9091, 9093, 9100,
        9105, 9106, 9116, 9195, 9200, 9247, 9250, 9251, 9252, 9262, 9264,
        9292, 9307, 9312, 9359, 9360], dtype=int32),)

In [17]:
#Removing M's and k's
df.Size = df.Size.str.replace('M','')
df.Size = df.Size.str.replace('k','')

#Creating copy dataframe and removing the rows with Size values "Varies with devices"
df_temp=df.copy()
df_temp.drop(df[df.Size == 'Varies with device'].index,axis=0,inplace=True)
df_temp.Size = df_temp.Size.astype('float')
df.reset_index(False,inplace=True)
df.drop('index',axis=1, inplace=True)

#Changing the value of "varies with size" by calculating mean of size of that particular category in original data frame
for x,y in df.iterrows():
    if y.Size == 'Varies with device':
        val = y.Category
        df.iloc[x,4]=df_temp.groupby('Category').Size.median()[val]

df.Size = df.Size.astype('float')

#Converting kb size to mb
for x in size_kb_index:
    df.iloc[x,4]=df.iloc[x,4]*0.001

In [18]:
df.Installs.unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '100+', '500+', '10+',
       '5+', '50+', '1+'], dtype=object)

In [19]:
#Removing character from the values
df.Installs = df.Installs.str.replace('+','')
df.Installs = df.Installs.str.replace(',','')
df.Installs=df.Installs.astype('int')
df.Installs.unique()

array([     10000,     500000,    5000000,   50000000,     100000,
            50000,    1000000,   10000000,       5000,  100000000,
       1000000000,       1000,  500000000,        100,        500,
               10,          5,         50,          1])

In [20]:
df.Price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

In [21]:
#Removing character from the values
df.Price = df.Price.str.replace('$','')
df.Price = df.Price.astype('float')

In [22]:
df.Price.unique()

array([  0.  ,   4.99,   3.99,   6.99,   7.99,   5.99,   2.99,   3.49,
         1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,  24.99,
        11.99,  79.99,  16.99,  14.99,  29.99,  12.99,   2.49,  10.99,
         1.5 ,  19.99,  15.99,  33.99,  39.99,   3.95,   4.49,   1.7 ,
         8.99,   1.49,   3.88, 399.99,  17.99, 400.  ,   3.02,   1.76,
         4.84,   4.77,   1.61,   2.5 ,   1.59,   6.49,   1.29, 299.99,
       379.99,  37.99,  18.99, 389.99,   8.49,   1.75,  14.  ,   2.  ,
         3.08,   2.59,  19.4 ,   3.9 ,   4.59,  15.46,   3.04,  13.99,
         4.29,   3.28,   4.6 ,   1.  ,   2.95,   2.9 ,   1.97,   2.56,
         1.2 ])